<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="">

  <title>Credit Card Approval Prediction</title>

  <!-- Bootstrap CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>SmartBridge</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="py-5 text-center">
      <h2>Credit Card Approval Prediction</h2>
    </div>

    <div class="row">
      <div class="col-md-8 order-md-1">
        <form action="/predict" method="POST" class="needs-validation" novalidate>
          <div class="row">

            <div class="col-md-4 mb-3">
              <label for="CODE_GENDER">GENDER</label>
              <select class="custom-select d-block w-100" id="CODE_GENDER" name="CODE_GENDER" required>
                <option value="">Select the GENDER</option>
                <option value="0">FEMALE</option>
                <option value="1">MALE</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="FLAG_OWN_CAR">OWN CAR</label>
              <select class="custom-select d-block w-100" id="FLAG_OWN_CAR" name="FLAG_OWN_CAR" required>
                <option value="">Select YES/NO</option>
                <option value="0">NO</option>
                <option value="1">YES</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="FLAG_OWN_REALTY">OWN REAL ESTATE</label>
              <select class="custom-select d-block w-100" id="FLAG_OWN_REALTY" name="FLAG_OWN_REALTY" required>
                <option value="">Select YES/NO</option>
                <option value="0">NO</option>
                <option value="1">YES</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="AMT_INCOME_TOTAL">TOTAL ANNUAL INCOME</label>
              <input type="number" class="form-control" id="AMT_INCOME_TOTAL" name="AMT_INCOME_TOTAL" required>
            </div>

            <div class="col-md-4 mb-3">
              <label for="NAME_INCOME_TYPE">TYPE OF INCOME</label>
              <select class="custom-select d-block w-100" id="NAME_INCOME_TYPE" name="NAME_INCOME_TYPE" required>
                <option value="">Select TYPE</option>
                <option value="0">Pensioner</option>
                <option value="1">Student</option>
                <option value="2">Working</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="NAME_EDUCATION_TYPE">EDUCATION</label>
              <select class="custom-select d-block w-100" id="NAME_EDUCATION_TYPE" name="NAME_EDUCATION_TYPE" required>
                <option value="">Select EDUCATION TYPE</option>
                <option value="0">Academic degree</option>
                <option value="1">Higher education</option>
                <option value="2">Secondary</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="NAME_FAMILY_STATUS">FAMILY STATUS</label>
              <select class="custom-select d-block w-100" id="NAME_FAMILY_STATUS" name="NAME_FAMILY_STATUS" required>
                <option value="">Select STATUS</option>
                <option value="0">Married</option>
                <option value="1">Single</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="NAME_HOUSING_TYPE">TYPE OF HOUSING</label>
              <select class="custom-select d-block w-100" id="NAME_HOUSING_TYPE" name="NAME_HOUSING_TYPE" required>
                <option value="">Select HOUSING TYPE</option>
                <option value="0">House / apartment</option>
                <option value="1">With parents</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="DAYS_BIRTH">DAYS SINCE BIRTH</label>
              <input type="number" class="form-control" id="DAYS_BIRTH" name="DAYS_BIRTH" required>
            </div>

            <div class="col-md-4 mb-3">
              <label for="DAYS_EMPLOYED">DAYS EMPLOYED</label>
              <input type="number" class="form-control" id="DAYS_EMPLOYED" name="DAYS_EMPLOYED" required>
            </div>

            <div class="col-md-4 mb-3">
              <label for="CNT_FAM_MEMBERS">FAMILY MEMBERS</label>
              <input type="number" class="form-control" id="CNT_FAM_MEMBERS" name="CNT_FAM_MEMBERS" required>
            </div>

            <div class="col-md-4 mb-3">
              <label for="paid_off">EMI PAID OFF</label>
              <input type="number" class="form-control" id="paid_off" name="paid_off" required>
            </div>

            <div class="col-md-4 mb-3">
              <label for="of_pastdues">EMI OF PAST DUES</label>
              <input type="number" class="form-control" id="of_pastdues" name="of_pastdues" required>
            </div>

            <div class="col-md-4 mb-3">
              <label for="no_Loan">NUMBER OF LOANS</label>
              <input type="number" class="form-control" id="no_Loan" name="no_Loan" required>
            </div>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Predict</button>
        </form>
        <!-- Home button -->
      <a href="/" class="btn btn-primary mt-4">Go to Home Page</a>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-5">&copy; 2025-2026 SmartBridge</p>
    </footer>
  </div>

  <!-- Bootstrap JS CDN -->
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Bootstrap form validation JS -->
  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        const forms = document.getElementsByClassName('needs-validation');
        Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>

</html>
